{% extends "home.html" %} {% load static %} {% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>
<script src="{% static 'endpoint.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function () {
    var dataModel = new ViewModel("/detection/camera_endpoint");
    window.setInterval(dataModel.Update, 300);
    ko.applyBindings(dataModel);
  });
</script>
{% endblock %} {% block body %}
<div class="container">
  <div class="card-deck">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">Processed Image</div>
        <img
          class="card-img-top"
          data-bind="attr:{src:ImageSrcName}"
          style="height: 100%; width: 100%; object-fit: contain"
        />
        <div class="card-body">
          <h5 class="card-title">Live Source</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">Results</div>
        <div class="card-body">
          <textarea
            data-bind="value:Detail"
            style="height: 100%; width: 100%; object-fit: contain"
          />
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
