{% extends "home.html" %} {% load static %} {% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>
<script src="{% static 'endpoint.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function () {
    var dataModel = new ViewModel("/detection/picture_endpoint");
    dataModel.Update();
    ko.applyBindings(dataModel);
  });
</script>
{% endblock %} {% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Processed Image</div>
        <img
          class="card-img-top"
          data-bind="attr:{src:ImageSrcName}"
          style="height: 100%; width: 100%; object-fit: contain"
        />
        <div class="card-body">
          <h5 class="card-title">Upload a new picture</h5>
          <div class="card-text">
            <form
              action="{% url 'picture_upload' %}"
              method="POST"
              name="form"
              enctype="multipart/form-data"
            >
              {% csrf_token %}
              <input type="file" name="picture" />
              <button type="submit" class="btn btn-primary">Upload</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">Results</div>
        <div class="card-body">
          <div class="row">
            <img
              data-bind="attr:{src:HistoricChartSrcName}"
              style="height: 100%; width: 100%; object-fit: contain"
            />
          </div>
          <div class="row">
            <img
              data-bind="attr:{src:PieChartSrcName}"
              style="height: 100%; width: 100%; object-fit: contain"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
